@model EventsWebMvc.Models.EventCatalogItem



<form asp-controller="Cart" asp-action="AddToCart">
<img class="esh-catalog-thumbnail" src="@Model.PictureUrl" />
<input class="esh-catalog-button"  type="submit" value="[ View Event ]" />
        <div class="esh-catalog-name">
            <span>@Model.EventName</span>
        </div>
        <div class="esh-catalog-price">
            <span>@Model.Cost.ToString("N2")</span>
        </div>
        <input type="hidden" asp-for="@Model.VenueId" name="venueId" />
        <input type="hidden" asp-for="@Model.EventTypeId" name="eventTypeId" />
        <input type="hidden" asp-for="@Model.Description" name="description" />
        <input type="hidden" asp-for="@Model.EventId" name="eventId" />
        <input type="hidden" asp-for="@Model.EventName" name="name" />
        <input type="hidden" asp-for="@Model.PictureUrl" name="pictureUrl" />
        <input type="hidden" asp-for="@Model.Cost" name="cost" />
</form>